<div class="container">
  <div data-controller="add-in-choices", data-choices = "<%= @endgame&.length || 0 %>">
    <% option1 = @options[1]%>
    <% option2 = @options[2]%>
    <% option3 = @options[3]%>



      <div class="row">

        <div class="col">
            <div class="cube-container">
              <%= link_to choice_option_option_choices_path(@choice, @optioni), data: {turbo_method: :post } do%>
                <div class = "cube">

                  <%= cl_image_tag @optioni.photo.key,  :crop=>"fill", data: {
                  add_in_choices_target: "event",
                  action: "click->add-in-choices#add",
                  option_id: @optioni.id,
                  }
                  %>

                  <%= cl_image_tag option2.photo.key,  :crop=>"fill" %>
                  <%= cl_image_tag option3.photo.key,  :crop=>"fill" %>
                  <%= cl_image_tag option1.photo.key,  :crop=>"fill" %>

                </div>
             <% end %>

            </div>
            <div class="name-of-option-a">
            <%= @optioni.name %>
            </div>
           </div>


        <div class="col">
          <div class="cube-container">

            <%= link_to choice_option_option_choices_path(@choice, @optionk), data: {turbo_method: :post } do%>
              <div class = "cube">

                <%= cl_image_tag @optionk.photo.key,  :crop=>"fill", data: {
                add_in_choices_target: "event",
                action: "click->add-in-choices#add",
                option_id: @optionk.id

                }
                %>
              <%= cl_image_tag option1.photo.key,  :crop=>"fill" %>
                <%= cl_image_tag option2.photo.key,  :crop=>"fill" %>
                <%= cl_image_tag option3.photo.key,  :crop=>"fill" %>
              </div>
            <% end %>
            </div>
            <div class="name-of-option-b">
            <%= @optionk.name %>
            </div>
            </div>
          </div>



  </div>
</div>
