
<%= render "shared/navbar" %>

<div class=landing-page>
    <div class="news">
      <div class="container container-show-white">

          <div class="container container-show">

              <% option1 = @options[1]%>
              <% option2 = @options[2]%>
              <% option3 = @options[3]%>
              <% option4 = @options[4]%>
              <% option5 = @options[5]%>
              <% option6 = @options[6]%>

              <div class="row" style="justify-content: center;">

                  <div class="col-6">
                      <div class="cube-container">
                        <%= link_to choice_option_option_choices_path(@choice, @optioni), data: {turbo_method: :post } do%>
                          <div class = "cube left-cube">

                            <%= cl_image_tag @optioni.photo.key, data: {
                            add_in_choices_target: "event",
                            action: "click->add-in-choices#add",
                            id: @optioni.id,
                            }
                            %>

                            <%= cl_image_tag option2.photo.key %>
                            <%= cl_image_tag option3.photo.key %>
                            <%= cl_image_tag option1.photo.key %>

                          </div>
                        <% end %>

                      </div>

                  </div>



                  <div class="col-6">

                    <div class="cube-container">

                        <%= link_to choice_option_option_choices_path(@choice, @optionk), data: {turbo_method: :post } do%>

                          <div class = "cube right-cube">

                            <%= cl_image_tag @optionk.photo.key,  :crop=>"fill", data: {
                            add_in_choices_target: "event",
                            action: "click->add-in-choices#add",
                            id: @optionk.id

                            }
                            %>
                          <%= cl_image_tag option4.photo.key,  :crop=>"fill" %>
                            <%= cl_image_tag option5.photo.key,  :crop=>"fill" %>
                            <%= cl_image_tag option6.photo.key,  :crop=>"fill" %>
                          </div>
                        <% end %>
                      </div>

                  </div>

              </div>

          </div>

      </div>
    </div>
        <div class="container-new">
                <div class="parent-div">
                    <div class="img-container">
                      <div id="img1">
                        <%= @optioni.name %>
                      </div>
                    </div>
                    <div class="line-break-container">
                      <div id="line-break"></div>
                    </div>
                    <div class="img-container">
                      <div id="img2">
                        <%= @optionk.name %>
                      </div>
                    </div>
                </div>
        </div>
</div>










<style>
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@keyframes reveal-left-to-right {
  from {
    opacity: 0;

    transform: translateX(110%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reveal-right-to-left {
  from {
    opacity: 0;
    transform: translateX(-110%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes grow-line {
  from {

    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

.container-new {
  position: relative;
  top: -600px;
  right: 138px;
  background-color: transparent;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-show {
  position: absolute;
}

.parent-div {

  background-color: transparent;
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

 /* .line-break-container {

  display: flex;
  align-items: center;
}

 #line-break {
  width: 2px;

  background-color: #ff6472;
  z-index: 3;
  animation: grow-line linear 1s forwards;
  animation-delay: 1s;
}  */

.img-container {
  height: 100%;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1, #img2 {
  color: white;
  background-color: rgba(249, 156, 166, 0.954);
  font-size: 1.5rem;
  overflow: hidden;
  width: 300px;
  height: 70px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#img1 {
  transform: translateX(110%);
  animation: reveal-left-to-right ease-out 1s forwards;
  animation-delay: 1.5s;
}

#img2 {
  transform: translateX(-110%);
  animation: reveal-right-to-left ease-out 1s forwards;
  animation-delay: 1.5s;
}


</style>

<script>
// document.addEventListener("DOMContentLoaded", () => {
//   setTimeout(() => {
//     const img1 = document.querySelector("#img1");
//     const img2 = document.querySelector("#img2");
//     img1.className += "apply-animation";
//     img2.className += "apply-animation";
//   }, 1300);
// });
</script>
