
<div class="container">

  <h2 class="text-center m-3">Your Dates received</h2>

  <div class="cards">
    <% current_user.receiptors.each do |receiptor| %>
    <% if receiptor.choice.options.length == 5 %>
              <h3 class="card-title">You have an invitation for a date</h3>
              <p><a href="/choices/<%= receiptor.choice.id %>/edit" class="btn btn-primary">Choose your pick</a></p>
    <% else %>


        <% receiptor.choice do |choice| %>
        <% result = choice.options.ids %>

        <% if result.detect{ |e| result.count(e) > 1 } %>
        <% id = result.detect{ |e| result.count(e) > 1 } %>
         <% option = Option.all.find(id) %>
          <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
          <%= option.name %>
          <%= choice.user.email %>
          <%# <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <%# <img src="https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679493153/development/y4f7qugzixnqyq2rvxpft2oeisf9.jpg" class="img-fluid rounded-start" alt="..."> %>
              <%# </div> %>
              <%# <div class="col-md-8"> %>
                <%# <div class="card-body">
                  <h3 class="card-title"><% choice.options %>

          <% else %>
          <% option = Option.all.find(result.sample) %>
          <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
          <%= option.name %>
        <% end %>
    <% end %>
    <% end %>
    <% end %>

  </div>


  <h2 class="text-center m-3">Your Dates sent</h2>

  <div class="container">
    <% current_user.choices.each do |choice| %>
        <% result = choice.options.ids %>
        <% if result.detect{ |e| result.count(e) > 1 } %>
        <% id = result.detect{ |e| result.count(e) > 1 } %>
         <% option = Option.all.find(id) %>
          <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
          <%= option.name %>

          <%# <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <%# <img src="https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679493153/development/y4f7qugzixnqyq2rvxpft2oeisf9.jpg" class="img-fluid rounded-start" alt="..."> %>
              <%# </div> %>
              <%# <div class="col-md-8"> %>
                <%# <div class="card-body">
                  <h3 class="card-title"><% choice.options %>

          <% else %>
          <% option = Option.all.find(result.sample) %>
          <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
          <%= option.name %>

        <% end %>
    <% end %>


</div>



<%# MODALS? POP UP? %>
<%#
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Who do you want to play with? Type their email</h1>
      <%= simple_form_for @user do |f| %>
        <%# <%= f.input :name %>
        <%# <%= f.input :email %>
        <%# <%= f.submit class: 'btn btn-primary' %>
      <%# <% end %>
    <%# </div>
  </div>
</div> %>
