<div class="container mt-5 pt-5">
  <% if current_user.receiptors.empty? %>
    <p class="d-none"></p>
  <% else %>
    <h2 class="text-center m-3">Your Invitations</h2>
    <div class="cards cards-index">
      <% current_user.receiptors.each do |receiptor| %>
        <% if receiptor.choice.options.length == 5 %>
          <div class="card card-index mt-5 p-3">
                <h3 class="card-title">You have an invitation to plan a date:</h3>
                <p class="card-text"><a href="/choices/<%= receiptor.choice.id %>/edit" class="btn btn-primary">Choose your pick</a></p>
        <%# <% elsif receiptor.choice.options.length == 10 %>
          <%# <% receiptor.choice do |choice| %>
            <%# <% result = choice.options.ids %>
            <%# <% if result.detect{ |e| result.count(e) > 1 } %>
              <%# <% id = result.detect{ |e| result.count(e) > 1 } %>
              <%# <% option = Option.all.find(id) %>
              <%# <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
              <%# <%= option.name %>
              <%# <%= choice.user.email %>
            <%# <% else %>
              <%# <% option = Option.all.find(result.sample) %>
              <%# <%= cl_image_tag option.photo.key,  :crop=>"fill",  width: 100, height: 151 %>
              <%# <%= option.name %>
            <%# <% end %>
          <%# <% end %>
          </div>
         <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container mt-5 pt-5">
  <% if current_user.choices.empty? %>
    <p><%= link_to "Start your own date", choices_path, data: {turbo_method: :post } %></p>
  <% else %>
    <h2 class="text-center m-3">Your Dates</h2>
    <div class="cards cards-index">
      <% current_user.choices.each do |choice| %>
        <div class="col">
          <% result = choice.options.ids %>
          <% if result.size == 5%>
            <div class="card card-index-wait mt-5 p-3">
              <% choice.receiptors.each do |receiptor|%>
              <p>Waiting for <%=receiptor.name%>'s results...</p>
              <% end %>
            </div>
          <% elsif (result.size == 10) && (result.detect{ |e| result.count(e) > 1 }) %>
            <div class="card card-index mt-5 p-3">
              <% id = result.detect{ |e| result.count(e) > 1 } %>
              <% option = Option.all.find(id) %>
              <%= cl_image_tag option.photo.key,  :crop=>"scale",  width: 151, height: 151 %>
              <div class="card card-text">
                <p> Date with </p>
                <p> Result: </p>
                <%= option.name %>
              </div>
            </div>
          <% elsif (result.size == 10) && ((result.detect{ |e| result.count(e) > 1 }).nil?)%>
            <div class="card card-index mt-5 p-3">
              <% option = Option.all.find(result.first) %>
                <%= cl_image_tag option.photo.key,  :crop=>"scale",  width: 151, height: 151 %>
              <%# <%= link_to option_path(option), class:"text-decoration-none" do%>
              <div class="card card-text">
                <p> Date with </p>
                <p> We couldn't find any match </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
