<head>
  <title>Dinder - Date Night Matching Website</title>
  <meta name="description" content="Dinder is a date night matching website for couples to decide where to go out together. Find the perfect spot for your next date night!">
  <meta name="keywords" content="Dinder, date night, couples, matchmaking, restaurants, bars">
</head>

<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-sm-4">
      <h2>Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, data: { turbo: :false }) do |f| %>
        <%= f.input :email, label: false, placeholder: "Email", required: false, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
        <%= f.input :password, label: false, placeholder: "Password", required: false, input_html: { autocomplete: "current-password", class: "form-control" } %>
        <%= f.input :remember_me, as: :boolean, label: "Remember me", required: false, input_html: { class: "form-check-input" } %>
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
      <%= link_to new_user_registration_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679426249/116956920_icm3tf.png" %>
    <% end %>
  </div>
</div>
