<!DOCTYPE html>
<html>
  <head>

    <title>Dinder - Find the Perfect Date Night Spot for Couples</title>
    <meta name="description" content="Dinder is a date night matching website for couples to decide where to go out together. Find the perfect spot for your next date night!">
    <meta name="keywords" content="Dinder, date night, couples, matchmaking, restaurants, bars">
    <meta name="author" content="Oli, Guido, TJ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
